Flask==2.3.3
flask-socketio==5.3.6
eventlet==0.33.3
beautifulsoup4
bs4
frozendict
geopy
ipython
kafka-python
matplotlib
numpy
py4j
pymongo
requests
scipy
scikit-learn
tabulate
tldextract
wikipedia
findspark
iso8601
urllib3
joblib
cassandra-driver
minio
pyelasticsearch
prometheus-flask-exporter
prometheus-flask-exporter==0.23.1
prometheus-client==0.20.0
